{% extends "layout.html" %}
{% block title %}Rocket Racoon's Spelling Bee{% endblock %}
{% block page %}Rocket Racoon's Spelling Bee{% endblock %}

{{ super() }}

{% block content %}


    <h1>Welcome to Rocket Racoon's Spelling Bee</h1>
    <p>This is a boileplate flask application which follows the MVC pattern for structuring the project.</p>
      
        <table>
        <tr>
          <th>Word</th>
          <th>Difficulty</th>

        </tr>
        {% for Word in words %}
        
        <tr>
          <td>{{Word.word}}</td>
          <td>{{Word.difficulty}}</td>

        </tr>
        
        
      </table>

      
      
    <form action="words" method="POST">  
        
            <label>Word Guess</label>
            <input type="text" placeholder="Guess the Word being hinted or said in the audio clip" name="word_guess" >  
            <input type="submit"> 
            <input type="hidden" value="{{Word.word}}" name="hiding">
            <button name="audio" >Push Me for Audio of the Word</button>

          </form>
       
    {% endfor %}
    {% endblock %} 